-@val s: skinny.Skinny
-@val keyAndErrorMessages: skinny.KeyAndErrorMessages

-# Be aware of package imports.
-# 1. src/main/scala/templates/ScalatePackage.scala
-# 2. scalateTemplateConfig in project/Build.scala

div(class="form-group")
  label(class="control-label" for="fullpath") #{s.i18n.getOrKey("target.fullpath")}
  div(class="controls row")
    div(class={if(keyAndErrorMessages.hasErrors("fullpath")) "has-error" else ""})
      div(class="col-xs-12")
        input(type="text" name="fullpath" class="form-control" value={s.params.fullpath})
    - keyAndErrorMessages.get("fullpath").map { errors =>
      div(class="col-xs-12 has-error")
        - for (error <- errors)
          label(class="control-label") #{error}
    - }
div(class="form-group")
  label(class="control-label" for="as_path") #{s.i18n.getOrKey("target.asPath")}
  div(class="controls row")
    div(class={if(keyAndErrorMessages.hasErrors("as_path")) "has-error" else ""})
      div(class="col-xs-12")
        input(type="text" name="as_path" class="form-control" value={s.params.as_path})
    - keyAndErrorMessages.get("as_path").map { errors =>
      div(class="col-xs-12 has-error")
        - for (error <- errors)
          label(class="control-label") #{error}
    - }
div(class="form-group")
  label(class="control-label") #{s.i18n.getOrKey("target.lastUpdatedAt")}
  div(class="controls row")
    div(class={if(keyAndErrorMessages.hasErrors("last_updated_at")) "has-error" else ""})
      div(class="col-xs-2")
        input(type="text" name="last_updated_at_year"   class="form-control" value={s.params.last_updated_at_year}   placeholder={s.i18n.getOrKey("year")}   maxlength=4)
      div(class="col-xs-2")
        input(type="text" name="last_updated_at_month"  class="form-control" value={s.params.last_updated_at_month}  placeholder={s.i18n.getOrKey("month")}  maxlength=2)
      div(class="col-xs-2")
        input(type="text" name="last_updated_at_day"    class="form-control" value={s.params.last_updated_at_day}    placeholder={s.i18n.getOrKey("day")}    maxlength=2)
      div(class="col-xs-2")
        input(type="text" name="last_updated_at_hour"   class="form-control" value={s.params.last_updated_at_hour}   placeholder={s.i18n.getOrKey("hour")}   maxlength=2)
      div(class="col-xs-2")
        input(type="text" name="last_updated_at_minute" class="form-control" value={s.params.last_updated_at_minute} placeholder={s.i18n.getOrKey("minute")} maxlength=2)
      div(class="col-xs-2")
        input(type="text" name="last_updated_at_second" class="form-control" value={s.params.last_updated_at_second} placeholder={s.i18n.getOrKey("second")} maxlength=2)
    - keyAndErrorMessages.get("last_updated_at").map { errors =>
      div(class="col-xs-12 has-error")
        - for (error <- errors)
          label(class="control-label") #{error}
    - }
div(class="form-actions")
  =unescape(s.csrfHiddenInputTag)
  input(type="submit" class="btn btn-primary" value={s.i18n.getOrKey("submit")})
    a(class="btn btn-default" href={s.url(Controllers.targets.indexUrl)}) #{s.i18n.getOrKey("cancel")}
