-@val s: skinny.Skinny
-@val items: Seq[model.Target]
-@val totalPages: Int

-# Be aware of package imports.
-# 1. src/main/scala/templates/ScalatePackage.scala
-# 2. scalateTemplateConfig in project/Build.scala

h3 #{s.i18n.getOrKey("target.list")}
hr
-for (notice <- s.flash.notice)
  p(class="alert alert-info") #{notice}

- if (totalPages > 1)
  ul.pagination
    li
      a(href={s.url(Controllers.targets.indexUrl, "page" -> 1)}) &laquo;
    - for (i <- (1 to totalPages))
      li
        a(href={s.url(Controllers.targets.indexUrl, "page" -> i)}) #{i}
    li
      a(href={s.url(Controllers.targets.indexUrl, "page" -> totalPages)}) &raquo;

table(class="table table-bordered")
  thead
    tr
      th #{s.i18n.getOrKey("target.id")}
      th #{s.i18n.getOrKey("target.fullpath")}
      th #{s.i18n.getOrKey("target.asPath")}
      th #{s.i18n.getOrKey("target.lastUpdatedAt")}
      th
  tbody
  -for (item <- items)
    tr
      td #{item.id}
      td #{item.fullpath}
      td #{item.asPath}
      td #{item.lastUpdatedAt}
      td
        a(href={s.url(Controllers.targets.showUrl, "id" -> item.id)} class="btn btn-default") #{s.i18n.getOrKey("detail")}
        a(href={s.url(Controllers.targets.editUrl, "id" -> item.id)} class="btn btn-info") #{s.i18n.getOrKey("edit")}
        a(data-method="delete" data-confirm={s.i18n.getOrKey("target.delete.confirm")} href={s.url(Controllers.targets.destroyUrl, "id" -> item.id)} rel="nofollow" class="btn btn-danger") #{s.i18n.getOrKey("delete")}

a(href={s.url(Controllers.targets.newUrl)} class="btn btn-primary") #{s.i18n.getOrKey("new")}
